body {
	font-family: 'Baloo Thambi 2', cursive;
	margin: 0;
}

#all-plants {
	overflow: auto;
	white-space: nowrap;
	background-image: url('images/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

#plant-card {
	display: inline-block;
	padding: 0 3rem;
	margin: 5rem auto;
}

#cactus-image {
	background-image: url('images/cactus.png');
	height: 40vh;
	background-repeat: no-repeat;
	background-size: contain;
}

#cactus-image:hover {
	background-image: url('images/cactushover.png');
	height: 40vh;
	background-repeat: no-repeat;
	background-size: contain;
}

#lily-image {
	background-image: url('images/lily.png');
	height: 40vh;
	background-repeat: no-repeat;
	background-size: contain;
}

#lily-image:hover {
	background-image: url('images/lily_hover.png');
	height: 40vh;
	background-repeat: no-repeat;
	background-size: contain;
}

#orchid-image {
	background-image: url('images/orchid.png');
	height: 40vh;
	background-repeat: no-repeat;
	background-size: contain;
}

#orchid-image:hover {
	background-image: url('images/orchid_hover.png');
	height: 40vh;
	background-repeat: no-repeat;
	background-size: contain;
}

#more-information {
	display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  width: 50vw; 
  background-color: whitesmoke;
}

.popup {
  margin: 0;
  padding: 0;
}

#plant-left > h1{
	display: flex;
	justify-content: center;
}

#plant-info {
	font-size: 0.7rem;
}

#plant-img {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	height: 300px;
	width: 300px;
}

#plant-controls {
  margin: auto 0;
}

#plant-controls > form > * {
  margin: 0.5rem 0;
}

ul {
  list-style-type: none;
} 

#remove {
  display: flex;
  justify-content: center;
}

.history {
  overflow-y: auto;
  height: 50vh;
}

.history > li {
  margin: 1.5rem 0;
}

.back:hover {
	opacity: 60%;
	transition: 0.2s;
}

.form {
	float: right;
	height: 100vh;
	display: flex;
	align-items: center;
	padding: 0rem 5rem;
	background-color: whitesmoke;
	max-width: 30%;
}

.form > form > input {
  box-sizing: border-box;
	width: 100%;
	font-size: 1rem;
	padding: 1rem;
  margin: 1rem;
  border: 0;
  border-bottom: 2px solid lightseagreen;
  background-color: whitesmoke;
}

.form > form > button {
	box-sizing: border-box;
	width: 100%;
	font-size: 1rem;
	padding: 1rem;
	margin: 1rem;
  border-radius: 5px;
  border: 0;
  color: white;
}

.form > form > button {
	background-color: lightseagreen;
}

.form > form > button:hover {
  transition: 0.4s;
	background-color: seagreen;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .button:hover span {
	padding-right: 25px;
  }
  
  .button:hover span:after {
	opacity: 1;
	right: 0;
  }

.close {
	display: none;
}

.backbutton {
	margin: 2rem;
	z-index: 3;
}

.loginpage {
	display: flex;
	justify-content: space-between;
}

.loginh1 {
	display: flex;
	justify-content: center;
}

nav.loginregisternav {
	display: flex;
	justify-content: center;
}

nav.loginregisternav > a {
	display: flex;
	justify-content: center;
	border: 1px solid lightseagreen;
	padding: 1rem;
  width: 10%;
}

.hlhover {
	font-family: arial;
}	

.highlight, .hlhover:hover {
	background-color: lightseagreen;
}

body {
    font-family: 'Girassol', cursive;
    letter-spacing: 3px;
    margin: 0;
}

.homepagediv > nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 5% 12% 0 0;
}

.backbuttons {
	display: flex;
}

div.buttons > div {
	margin: 2rem;
}

div.buttons > div > a {
  font-size: 2rem;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  border: 3px solid white;
  border-radius: 10px;
  padding: 1rem 9rem;
  font-weight: bold;
  -webkit-box-shadow: 20px 22px 79px 14px rgba(0,0,0,0.75);
  -moz-box-shadow: 20px 22px 79px 14px rgba(0,0,0,0.75);
  box-shadow: 20px 22px 79px 14px rgba(0,0,0,0.75); 
}

.add {
	padding: 2rem;
	font-size: 1.5rem;
	background-color: Transparent;
	border-radius: 10px;
	border: 2px solid black;
	margin: 2rem auto;
}       

.add:hover {
	background-color: dodgerblue;
}

.formadd {
	text-align: center;
}

.addform > div > input {
	width: 50%;
	font-size: 1.5rem;
	margin: 1rem;
	padding: 1rem;
}       

a:hover span, .button:hover span {
  padding-right: 25px;
}

a:hover span:after, .button:hover span:after {
  opacity: 1;
  right: 0;
}

a span, .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

a span:after, .button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

div.buttons {
	max-width: 30%;
	min-width: 30%;
}

h1.title {
  color: white;
  font-size: 4rem;
  margin: 20% 0 0 45%;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

html {
  background-image: url('images/home.png');
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.slide-in-blurred-bottom {
	-webkit-animation: slide-in-blurred-bottom 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-bottom 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.slide-out-blurred-bottom {
	-webkit-animation: slide-out-blurred-bottom 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
	        animation: slide-out-blurred-bottom 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

@-webkit-keyframes slide-out-blurred-bottom {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px) scaleY(2) scaleX(0.2);
            transform: translateY(1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
}
@keyframes slide-out-blurred-bottom {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px) scaleY(2) scaleX(0.2);
            transform: translateY(1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
}

.text-blur-out {
	-webkit-animation: text-blur-out 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-blur-out 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-blur-out {
        0% {
          -webkit-filter: blur(0.01);
                  filter: blur(0.01);
        }
        100% {
          -webkit-filter: blur(12px) opacity(0%);
                  filter: blur(12px) opacity(0%);
        }
      }
      @keyframes text-blur-out {
        0% {
          -webkit-filter: blur(0.01);
                  filter: blur(0.01);
        }
        100% {
          -webkit-filter: blur(12px) opacity(0%);
                  filter: blur(12px) opacity(0%);
        }
      }
      
.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
        0% {
          -webkit-transform: translateX(1000px);
                  transform: translateX(1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      @keyframes slide-in-right {
        0% {
          -webkit-transform: translateX(1000px);
                  transform: translateX(1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }

      .slide-out-right {
	-webkit-animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes slide-out-right {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateX(1000px);
                  transform: translateX(1000px);
          opacity: 0;
        }
      }
      @keyframes slide-out-right {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateX(1000px);
                  transform: translateX(1000px);
          opacity: 0;
        }
      }