# js | node_modules
node_modules/
**/node_modules
  
# python | environments
.env 
.venv
env/
venv/
__pycache__

# expo
.expo/ 
expo/

# VSCode
.vscode/
.vscode

# OS
.DS_Store
backend/__pycache__/
backend/env/
.DS_Store?
.idea/

