#plants {
    overflow: auto;
    white-space: nowrap;
    display: flex;
    text-align: center;
} 
#plantnode {
    min-width: 25%;
    max-width: 25%;
    padding: 2rem;
    margin: 2rem;
    border: 1px solid black;
    border-radius: 10px;
}
a {
    color: red;
    font-weight: bold;
    font-size: 2rem;
}